.main-container {
    display: grid;
    gap: 15px;
    width: 100%;
    height: 250px;
    grid-template-areas: "header header"
                         "main1  main1"
                         "footer footer";
    grid-template-rows: 1.5fr 1.5fr 30px;
    justify-content: stretch;
    align-content: stretch;
}

.item1 {
    grid-area: header;
    color: white;
}

.item2 {
    color: white;
    grid-area: main1;
}

.item2-title > h1 {
    border-bottom: 1px solid red;
    margin-left: 5%; 
}

.item2-content {
    display:  flex;
}

.item4 {
    color: white;
    grid-area: footer;
    margin-top: 3%;
}

.film {
    width: 18%;
    margin-left: 2%; 
    margin-bottom: 1%;
    overflow: hidden;
    height: 100%;
}

.film > a {
    text-decoration: none;
    color: white;
}

.film > a > picture > img {
    height: 80%;
}

.film:hover > a > .cartel-invis {
    display: none;
    cursor: pointer;
}

.film:hover > a > .sinopsis{
    top: 0;
    display: block;
    margin-right: 4vh;
}

.sinopsis {
    position: relative;
    display: none;
    font-size: 1rem;
    text-align: center;
}

.sinopsis-title > p {
    font-size: 1rem;
}

.sinopsis-body > p {
    font-size: 1rem;
}