.main-container {
    display: grid;
    gap: 15px;
    width: 100%;
    height: 250px;
    grid-template-areas: "header header"
                         "main1  main1"
                         "footer footer";
    grid-template-rows: 250px 1fr 30px;
    grid-template-columns: 1.5fr 1fr;
    justify-content: stretch;
    align-content: stretch;
}

.item1 {
    border: 5px solid goldenrod;
    grid-area: header;
    color: white;
}

.item2 {
    color: white;
    grid-area: main1;
}

.item2-title > h1 {
    border-bottom: 1px solid red;
    margin-left: 5%; 
}

.item4 {
    border: 5px solid goldenrod;
    color: white;
    grid-area: footer;
}

.item2-content {
    display:  flex;
}

.film {
    width: 18%;
    margin-left: 2%; 
    margin-bottom: 1%;
    overflow: hidden;
}

.sinopsis {
    position: relative;
    display: none;
    height: 100%;
}

.film:hover > .cartel-invis {
    display: none;
    cursor: pointer;
}

.film:hover > .sinopsis{
    top: 0;
    display: block;
}