.main-container-item {
    display: inline-flex;
}

.main-container-item > .main-contaner-list {
    list-style-type: none;
    display: inline-flex;
}

.main-container-item > .main-contaner-list > .list-items {
    margin-left: 1.5vh;
    width: 3vh;
}

.item4 {
    margin-left: 5%;
    border-top: 1px solid red;
}