.main-container {
    padding: 0;
    margin-top: 5em;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-evenly;
}

.main-container > .main-container-item {
    width: 40em;
    margin-top: 5em;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    margin-left: 0;
}

.main-container > .main-container-item > div > img {
    margin-top: 9%;
    width: 7rem;
}

.main-container > .main-container-item > div > h1 {
    color: white;
}

.main-container > .main-container-item > img {
    width: 25rem;
}

.plataformas > ul {
    list-style-type: none;
}
.plataformas-item {
    display: inline-block;
    margin: 0 1rem; 
}

.plataformas-item > img {
    width: 5rem;
}

button {
    background-color: red;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    width: 11rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 2.8rem;
    margin-right: 2.5rem;
    margin-top: 2%;
}

button:hover {
    background-color: white;
    border: 2px solid red;
    color: red;
    font-weight: bold;
    cursor: pointer;
}